<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/booksathr.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <header class="navbar navbar-bright" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Home</a>
          </div>
          <nav role="navigation">
            <ul class="nav navbar-nav navbar-right">
             <%for(i=0;i<nav.length;i++){%>
              <li>
                <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
              </li>
            <%}%>
            </ul>
          </nav>
        </div>
      </header>
      <div class="row">
    <h1 id="heads"><%=title%></h1>
  </div>
  <div class="row">    
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class="row">
      <div class="col-md-6" id="books1" style="margin-left:3%; width:45%;">
  <%for(i=0;i<authors.length/2;i++){%>
    <div class="row">    
      <br>
      <div class="col-md-4 col-sm-3 text-center">
        <a class="story-title" href="#"><img alt="" src="/images/<%=authors[i].img%>" style="width:100px;height:130px" class="img-rounded"></a>
      </div>
      <div class="col-md-8 col-sm-9">
        <h3 style="font-family: cursive;"><%=authors[i].name%></h3>
        <div class="row">
          <div class="col-xs-9">
            <h4><span class="label label-default" style="font-family: cursive;"><%=authors[i].books%></span></h4><h4>
            <small style="font-family: cursive; color:white;" ><%=authors[i].genre%> <a href="/authors/<%=i%>" style="font-family: cursive;">Read More</a></small>
            </h4></div>
          <div class="col-xs-3"></div>
        </div>
        <br><br>
      </div>
      
    </div>
    <%}%>
  </div>
  <div class="col-md-6" id="books2" style="width:45%;">
    <%for(i=authors.length/2;i<authors.length;i++){%>
      <div class="row">    
        <br>
        <div class="col-md-4 col-sm-3 text-center">
          <a class="story-title" href="#"><img alt="" src="/images/<%=authors[i].img%>" style="width:100px;height:130px" class="img-rounded"></a>
        </div>
        <div class="col-md-8 col-sm-9">
          <h3 style="font-family: cursive;"><%=authors[i].name%></h3>
          <div class="row">
            <div class="col-xs-9">
              <h4><span class="label label-default" style="font-family: cursive;"><%=authors[i].books%></span></h4><h4>
              <small style="font-family: cursive; color:white;"><%=authors[i].genre%> <a href="/authors/<%=i%>" style="font-family: cursive;">Read More</a></small>
              </h4></div>
            <div class="col-xs-3"></div>
          </div>
          <br><br>
        </div>
        
      </div>
      <%}%>
    </div>
</div>
    <script src="https://kit.fontawesome.com/864a7bb157.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>